DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
DISCORD_ADMIN_ID=
ATTENDANCE_CHANNEL_ID=
RYOKO_DESK_CHANNEL_ID=
COMMON_ROOM_CHANNEL_ID=
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_PATH=./google-service-account.json
TIMEZONE=Asia/Dhaka
KEEP_ALIVE_STORAGE_PATH=./data/keepAliveSites.json
KEEP_ALIVE_INITIAL_DELAY_MS=60000
KEEP_ALIVE_INTERVAL_MS=172800000
KEEP_ALIVE_TIMEOUT_MS=15000
KEEP_ALIVE_REQUEST_DELAY_MS=5000
